<div class="card" style="display:inline-block; width:40%; height:auto; border-width:2px; padding:5px; margin:10px auto;">
  <div *ngIf="item?.photos" class="card-img-wrapper">
    <img src="{{item?.photos![0].url}}" alt="" style="width:100%" />
    <h3 style="text-align:center; vertical-align:middle">{{item?.name}}</h3>
    <div class="btn-container">
      <button class="like-btn" (click)="sendLike()" style="background-image: url(../assets/images/LikeBtn.png)"></button>
      <button class="like-btn" (click)="sendDislike()" style="background-image: url(../assets/images/DislikeBtn.png)"></button>
    </div>
  </div>
</div>
